{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">All Suppliers</h2>
               
                <hr>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Suppliers List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered second" >
                            <thead>
                                <tr>
                                    <th>Supplier Name</th>
                                    <th>Supplier Contact</th>
                                    <th>Outstanding Debt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supplier in suppliers %}
                                <tr>
                                    <td>{{supplier.supplier_name}}</td>
                                    <td>{{supplier.supplier_phone}}</td>
                                    <td>{{supplier.openbalance}}</td>
                                    <td><a href="{{url_for('EditSupplier', supplier_id =supplier.id) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span>Update</a>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="document.getElementById('id01').style.display='block'">Delete</button>
                                        <div id="id01" class="modal">
                                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                            <div class="modal-dialog modal-sm">
                                            <form class="modal-content" action="">
                                              <div class="container">
                                                <h1>Delete Supplier?</h1>
                                                <p>Are you sure you want to delete this Supplier?</p>
                                        
                                                <div class="clearfix">
                                                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger btn-sm">Delete</button>
                                                </div>
                                              </div>
                                            </form>
                                        </div>
                                          </div>
                                    </td>
                                </tr> 
                                {% endfor %}                     
                            </tbody>
                            
                        </table>
                       

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end data table  -->
        <!-- ============================================================== -->
    </div>
  </div>
      {% endblock %}