{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
   
 
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <!-- consultation -->
 <!-- Single pro tab review Start-->
 <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" style="color: rgb(9, 63, 145);" data-toggle="tab" href="#home" role="tab" aria-controls="home">Add Visit Notes</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('showallvisits',patient_id=patient.id)}}" class="btn btn-primary m-b-5 m-r-2"><i class="ti-align-justify"> </i>All Visit Notes</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('AddPrescription', invoice_id =invoice_id)}}" class="btn btn-success m-b-5 m-r-2"><i class="ti-align-justify"> </i>Add Prescription/Lab request</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn btn-warning m-b-5 m-r-2"><i class="ti-align-justify"> </i>All Lab Resuilts</a>
      </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        <div>
            <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;"> <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong>Invoice succesfully Added!</div>
            <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;"> <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong></strong> Item not Found! Check if all item type is either service or medication</div>
            
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h3 class="card-header">New Visit </h3>
                    
                        <div class="card-body">
                            <form class="needs-validation" action="{{url_for('PatientConsultation',patient_id=patient_id)}}" novalidate  id="insert_sale" name="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6" id="payment_from_1">
                                            <div class="form-group row">
                                                <label for="customer_name" class="col-sm-4 col-form-label">Patient name</label>
                                                <div class="col-sm-6">
                                                    <input type="text"   name="patient_name" class=" form-control" placeholder='Enter Patient Name' value="{{patient.name}}" id="patient_name" tabindex="1" readonly  required  />
                                                    
                                                </div>  
                                            </div>
                                        </div>
        
                                        <!-- date -->
                                        <div class="col-sm-6" id="payment_from_1">
                                            <div class="form-group row">
                                                <label for="customer_name" class="col-sm-4 col-form-label">Visit Type</label>
                                                <div class="col-sm-6">
                                                    <select name="visittype" id="visittype" class="form-control" required="" tabindex="1" >
                                                        <option value="{{vistType}}" selected="">{{vistType}}
                                                        </option>
                                                        <option value="OPD">Out-Patient</option>
                                                        <option value="IP">In-Patient</option> 
                                                        <option value="FP">Family Planing</option> 
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- date -->
                                    </div>
            
                                    <div class="row">
                                        <!-- patient id -->
                                        <div class="col-sm-6" id="payment_from_1">
                                            <div class="form-group row">
                                                <label for="patient_id" class="col-sm-4 col-form-label">Clinic No</label>
                                                <div class="col-sm-6">
                                                    <input type="text"   name="patient_Id" class=" form-control"  id="patient_Id" tabindex="1" value="{{patient.patient_id}}" required readonly  />
                                                    
                                                </div>  
                                            </div>
                                        </div>
                                       
                                        <!-- patient -->
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="date" class="col-sm-4 col-form-label">Date</label>
                                                <div class="col-sm-6">
                                            <input class="datepicker form-control" type="date" size="50" name="invoice_date" id="dtpDate" required value="" tabindex="6" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                 </div>
                                 </div>
                                    <div class="table-responsive" style="margin-top: 10px">
                                        <table class="table table-bordered table-hover" id="vitals">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" >Height</th>
                                                    <th class="text-center" >Weight</th>
                                                    <th class="text-center" id="bmi_label" >BMI</th>
                                                    <th class="text-center" >Temparature</th>
                                                    <th class="text-center" >BP</th>
                                                    <th class="text-center" >Pulse</th>
                                                    <th class="text-center" >Respiratory rate</th>
                                                    <th class="text-center" >Blood oxygen saturation</th>
                                                  
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="addinvoiceItem">
                                                <tr>
                                                    <td >
                                                        <input type="text" name="patient_height" class="form-control   text-left" value="{{vital.height}}"  id="patient_height"  tabindex="7">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="patient_weight"  class="form-control text-left" value="{{vital.weight}}" id="patient_weight"/>
                                                    </td>
                                                    <td >
                                                        <input type="text" name="patient_BMI" class="form-control text-left" value="{{vital.bmi}}" readonly id="patient_BMI"  tabindex="7">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="patient_Temp" class="form-control text-left " value="{{vital.temparature}}"  id="patient_Temp"/>
                                                    </td>
                                                    <td >
                                                        <input type="text" name="patient_BP"  class="form-control text-left" value="{{vital.bloodpressure}}" tabindex="9"   id="patient_BP"/>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="patient_Pulse"  class="form-control text-left" id="patient_Pulse" value="{{vital.pulse}}" tabindex="9" />
                                                    </td>
                                                    <td style="width: 100px">
                                                        <input class=" form-control text-left" type="text" name="patient_Rrate" id="patient_Rrate" value="{{vital.respiratory_rate}}"  tabindex="9"/>
                                                    </td>
            
                                                    <td>
                                                        <input type="text" name="patient_BOS" class="form-control   text-left" id="patient_BOS" value="{{vital.oxygesaturation}}"  tabindex="7">
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                
                                                   
                                            
                                           
                                                
                                                
                                            </tfoot>
                                        </table>
                                           <hr>
                                           
                                        </div>
                                        <div class="card">
                                            <div class="form-group row">
                                                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label" >Chief Complain</label>
                                                <textarea rows="4" name="chief_complain" cols="50"></textarea>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label" >Patient_history</label>
                                                <textarea rows="4" name="patient_history" cols="50"></textarea>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label" >Clinical Note</label>
                                                <textarea rows="4" name="clinical_note" cols="50"></textarea>
                                            </div> 
                                            <br>
                                            <div class="form-group row">
                                                <label for="customer_name" class="col-sm-2 col-form-label">Diagnosis</label>
                                                <div class="col-sm-5">
                                                    <input type="text"   name="patient_diagnosis" class=" form-control" placeholder='Enter Diagnosis'  id="patient_name" tabindex="1"  />
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-6">
                                                
                                                <input type="submit" id="add-customer" class="btn btn-success btn-large" name="add-customer" value="Save" tabindex="7"/>
                                                <a href = ""><button class="btn btn-warning"  type="button">Back</button></a>
                                            </div>
                                           
                                        </div>
                                           
                                    </div>
                                    
                                </div>
        
                            </form>                
        
                        </div>
                    </div>
        
    </div>
    
  </div>
    <!-- end of consultation -->
         
      </div>
      {% endblock %}
      {% block script %}
      <script>
           
    //   $(function () {
    //    $('#myTab a:last').tab('show')
    //   })

    //   calculate BMI
    $('#vitals').on("click","input" ,function(e) {
        var target=e.target
        if(target.matches("input#patient_height")){
           var events=['keyup','change','keydown'];
           for (i = 0; i < events.length; i++){

            target.addEventListener(events[i] ,function(){
            const height =target.value;
            
            var weight= target.parentNode.parentNode.children[1].children[0].value
            console.log(weight)
            var BMI= target.parentNode.parentNode.children[2].children[0]
            var Height_val=parseFloat(height)
            var Weight_val=parseInt(weight)
            console.log(Height_val,Weight_val)
            
            const height_meters= parseFloat(height/3.2808398950131)
            const sqr_height= parseFloat(height_meters * height_meters)
            console.log(height_meters,sqr_height)
            const BMI_value=((Weight_val/sqr_height).toFixed(2))

            document.getElementById('patient_BMI').value=BMI_value


            })
           }
        }
        if(target.matches("input#patient_weight")){
           var events=['keyup','change','keydown'];
           for (i = 0; i < events.length; i++){

            target.addEventListener(events[i] ,function(){
            const weight =target.value;
            
            var height= target.parentNode.parentNode.children[0].children[0].value
            console.log(weight)
            console.log(height)
            var BMI= target.parentNode.parentNode.children[2].children[0]
            var Height_val=parseFloat(height)
            var Weight_val=parseInt(weight)
            console.log(Height_val,Weight_val)
            
            const height_meters= parseFloat(height/3.2808398950131)
            const sqr_height= parseFloat(height_meters * height_meters)
            console.log(height_meters,sqr_height)
            const BMI_value=((Weight_val/sqr_height).toFixed(2))
            
            if (isNaN(BMI_value)){
                document.getElementById('patient_BMI').value='0'
            }
            else{
                document.getElementById('patient_BMI').value=BMI_value

            }

            if (BMI_value > 30){
                document.getElementById('bmi_label').innerHTML='Obese'
            }
            else if(BMI_value >18.4 && BMI_value < 25 ){
                
                document.getElementById('bmi_label').innerHTML='Overweight'

            }
            else if (BMI_value > 24.9 && BMI_value < 30){
                document.getElementById('bmi_label').innerHTML='Normal'
            }
            else if (BMI_value < 18.5){
                document.getElementById('bmi_label').innerHTML='Underweight'
            }
            

            
        })
           }
        }
    })


    // End calculate BMI
          </script>
    
      {% endblock %}

