{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
              <h2 class="pageheader-title">New User</h2>
             
              <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page"><a href="" ><button type="button" class="btn btn-outline-primary">All Users</button></a></li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- end pageheader -->
  <!-- ============================================================== -->
  <div class="row" class="">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card" style="width: 80%;" class="justify-content-center">
              <h3 class="card-header">Please enter user information.</h3>
          
              <div class="card-body">
        <form action="{{url_for('signup')}}" method="POST">
          
            <div class="card" >
              <div class="row"></div>
                <div class="card-body">
                      {{ form.csrf_token() }}
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                      <label  class="col-form-label">username:</label>
                    {{form.editusername(class="form-control" , value=editeduser.username)}}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label  class="col-form-label">Role:</label>
                    {{form.editmemberrole(class="form-control",value=editeduser.role)}}
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label  class="col-form-label">Password:</label>
                    {{form.editpassword(class="form-control" , value=editeduser.password) }}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                  {{ form.submit(class="btn btn-success") }}
                  <a href = "{{ url_for('AllUsers')}}"><button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>  </a>
                </div>
             </div>   
            </div>  
        </form>
              </div>
          </div>
      </div>
      
      </div>
      {% endblock %}