{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Income and Expense Statement</h2>
              <hr>
            </div>
        </div>
    </div>
   
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            
            <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <form class="form-inline justify-content-left">
        
             <label>Start Date:</label>
             <input type="date" class="form-control datepicker dtpDate" id="min" placeholder="" name="Start_Date">
             <label >End Date:</label> 
             <input type="date" class="form-control datepicker todtpDate" id="max" placeholder="" name="Start_Date">
             <label>  </label>
             <button type="button" id="filter" onclick="submit_date()" class="btn btn-success">Find</button>
        </form>
    </div>
   </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"">
          <div class="card" id="carddisply" style="display:none;" >
              
            <div class="card-body">
              <section class="content">
                <div class="row">
         <div class="col-sm-12 col-md-12">
            <div class="panel panel-bd lobidrag">
                
                <div id="printArea">
                    <div class="panel-body text-center" id='myincomeExpense'>
                      
                      <p style="font-size: large;"><strong>No Data Found!</strong></p>
                    </div>
                    </div>
                </div>
                <div class="text-center" id="print" style="margin: 20px">
                    <input type="button" class="btn btn-warning" name="btnPrint" id="btnPrint" value="Print" onclick="printDiv();"/>
                
                </div>
            </div>
             </div>
           </div>
         </section>
            </div>
             
          </div>
      </div>
  </div>
      {% endblock %}
      {% block script %}
        <script>
         function submit_date(){
           document.getElementById('carddisply').style.display='block'
           var start_date= document.getElementById('min');
           var end_date= document.getElementById('max');

            var entry_date ={
                 start_date: start_date.value,
                 end_date: end_date.value
                 };

           fetch(`${window.origin}/processprofitlossreport/`,{

                 method: "POST",
                 credentials: "include",
                 body: JSON.stringify(entry_date),
                 cache: "no-cache",
                 headers: new Headers({
                   "content-type":"application/json"
                 })
              })
              .then(function(response){
                 
                 if(response.status !== 200){

                   console.log(`Response status not 200: ${response.status}`)
                   return;
                 }
                  
                  response.json().then(function(data){
                    var tabledata= data
                    
                    var onofdata = tabledata.length;
                  
		
                        if(onofdata>0){
                          // CREATE DYNAMIC TABLE AND SET ATTRIBUTES.
                    var table = document.createElement("table");
                    table.style.width = '100%';
                    table.setAttribute('border', '1');
                    table.setAttribute('id', 'empTable');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('cellpadding', '5');
                    //  column header ('Particulars', 'Amount')
                      var col=['Particulars','Amount']
                      // var keys=Object.keys(tabledata[0])
                      console.log('col')

                       var keys = []; // define an empty array
                      for (var i = 0; i < onofdata; i++) {
                        for (var key in tabledata[i]) {
                          if (keys.indexOf(key) === -1) {
                            keys.push(key);
                          }
                        }
                      }
                     
                    // CREATE TABLE HEAD .
                      var tHead = document.createElement("thead");	
                        
                    // CREATE ROW FOR TABLE HEAD .
                      var hRow = document.createElement("tr");

                   // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                      for (var i = 0; i < col.length; i++) {
                          var th = document.createElement("th");
                          th.setAttribute('bgcolor','#B0E0E6')
                          th.innerHTML = col[i];
                          hRow.appendChild(th);
                        }
                      tHead.appendChild(hRow);
                      table.appendChild(tHead);	

                       // ADD JSON DATA TO THE TABLE AS ROWS.
                       var empTab =table
                        var rowCnt = empTab.rows.length;   // table row count.
                      
                        var tr = empTab.insertRow(rowCnt); // the table row.
                        tr = empTab.insertRow(rowCnt);

                        for (var c = 0; c < col.length; c++) {

                          for(var j = 0; j < keys.length; j++){
                          
                            var td = document.createElement('td'); // table definition.
                            td = tr.insertCell(c);
                            
                        }
                        }

                    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                      var divContainer = document.getElementById("myincomeExpense");
                      divContainer.innerHTML = "";
                      divContainer.appendChild(table);
                        }	
                         
                  })

              })
         }

        </script>
      {% endblock %}


