{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="pageheader-title">Accounts</h3>
                <h5>Profit Loss Statement</h5>
              <hr>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card" style="width: 50rem;">
            
            <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <form class="form-inline justify-content-left" action="{{url_for('StatementReceipt')}}" method="POST">
        
             <label>Start Date:</label>
             <input type="date" class="form-control datepicker dtpDate" id="min" placeholder="" name="Start_Date">
             <label >End Date:</label> 
             <input type="date" class="form-control datepicker todtpDate" id="max" placeholder="" name="End_Date">
             <label>  </label>

             <button type="submit" id="filter"  class="btn btn-success">Find</button>
        </form>
    </div>
   </div>
    </div>
  </div>
</div>
 
  </div>
      {% endblock %}
    

