{% extends "labtechmain.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
    
  </div>
  <div>
   
 
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <!-- consultation -->
 <!-- Single pro tab review Start-->

 <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
    
     
    </li>

  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        <div class="row">
        <!-- ============================================================== -->
        <!-- basic table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h3 class="card-header">(LAB) PATIENT WAITING LIST</h3>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>OPD No</th>
                                    <th>Visit Type</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in labrequest %}
                                <tr>
                                    <td>{{request.customer_name}}</td>
                                    <td>{{request.patient_id}}</td>
                                    <td>{{request.visit_type}}</td>
                                    <td>{{request.created_on}}</td>
                                   <td><a href="{{url_for('LabtechAddResult',invoice_id=request.id)}}" ><span class="badge badge-info">Lab Request</span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
    </div>
  </div>
    <!-- end of consultation -->
         
      </div>
      {% endblock %}
      {% block script %}
      <script>
           

      $( document ).ready(function() {
        $('.table-striped').DataTable()
        });
          </script>
    
      {% endblock %}

