{% extends "pharmacymain.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
  
    <div class="row">
        <!-- ============================================================== -->
        <!-- Start validation form -->
        <!-- ============================================================== -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <div class="card">
                <h3 class="card-header" style="font-weight: bold; color: #000;">Edit Suppler</h3>
            
                <div class="card-body">
                    <form class="needs-validation" novalidate action="" method="POST">
                        <div class="row">
                            
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                                <label style="color: black;" for="validationCustom03">Supplier Name</label>
                                <input type="text" class="form-control"  style="color: black;" name="supplier_name" id="validationCustom03" placeholder="Enter supplier name" required="" value="{{s.supplier_name}}">
                                <div class="invalid-feedback">
                                    Please Fill this Field.
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <label  style="color: black;" for="validationCustom04">supplier phone</label>
                              
                                <input required="" type="text"  style="color: black;" name="supplier_phone" value="{{s.supplier_phone}}" min="0" max="1000000000000" placeholder="Enter Supplier Contact" class="form-control">
                                <div class="invalid-feedback">
                                    Please Fill this Field.
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <button class="btn btn-success" style="color: black;font-weight: bold;" type="submit">Update</button>
                            
                            <a href = "{{ url_for('PharmViewAllSuppliers')}}" ><button class="btn btn-warning"  type="button" style="color: black;font-weight: bold;">Cancel</button></a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end validation form -->
        <!-- ============================================================== -->
    </div>
      </div>
      {% endblock %}