{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">New Purchase</h2>
               
              <hr>
            </div>
        </div>
    </div>
    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;"> <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> Purchase succesfully Added!</div>
    <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;"> <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Danger!</strong> The Make sure all required Field are not empty!</div>
    
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h3 class="card-header">Add New Purchase</h3>
            
                <div class="card-body">
                    <form class="needs-validation" action="" novalidate  id="insert_purchase" name="" enctype="multipart/form-data"  accept-charset="utf-8">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6" id="payment_from_1">
                                    <div class="form-group row">
                                        <label for="customer_name" class="col-sm-3 col-form-label">Suplier Name<i class="text-danger">*</i></label>
                                        <div class="col-sm-6">
                                                <input type="text"   name="suplier_name" list="id_supplierlist" class=" form-control" placeholder='Suplier Name' id="supplier_name" tabindex="4"  required="" />
                                                <datalist id="id_supplierlist">
                                                    {% for entry in suppliers %}
                                                   <!-- <option value={{ entry }}> -->
                                                    <option value="{{entry}}">{{ entry }}</option>
                                                   {% endfor %}
                                                        </datalist>
                                                        <div class="invalid-feedback">
                                                            Please Fill this Field.
                                                        </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="date" class="col-sm-3 col-form-label">PurchaseDate<i class="text-danger">*</i></label>
                                        <div class="col-sm-6">
                                    <input class="form-control" type="date" size="50" name="date_purchase" id="dtpDate" required value="" tabindex="6" />
                                    <div class="invalid-feedback">
                                        Please Fill this Field.
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="date" class="col-sm-3 col-form-label">Invoice No<i class="text-danger">*</i></label>
                                        <div class="col-sm-6">
                                    <input class="form-control" type="number" size="50" name="invoice" id="invoice" required type="number" min="0" max="100000000000" value="" tabindex="6" required="" />
                                    <div class="invalid-feedback">
                                        Please Fill this Field.
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="payment_from">
                                    <div class="form-group row">
                                        <label for="payment_type" class="col-sm-3 col-form-label">Payment Type<i class="text-danger">*</i></label>
                                        <div class="col-sm-6">
                                            <select name="paytype" id="paytype" class="form-control" required="" >
                                                <option value="Cash">Cash Payment</option>
                                                <option value="Mpesa">Mpesa Payment</option> 
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                         </div>
                         </div>
                            <div class="table-responsive" style="margin-top: 10px">
                                <table class="table table-bordered table-hover" id="normalpurchase">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 220px">Item Information <i class="text-danger">*</i></th>
                                            <th class="text-center" width="120">Expiry</th>
                                            <th class="text-center"  width="70">Qty <i class="text-danger">*</i></th>
                                            <th class="text-center" width="100">Unit cost<i class="text-danger">*</i></th>
                                            <th class="text-center" width="110">Total                                        </th>
                                            <th class="text-center" width="60">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addinvoiceItem">
                                        <tr>
                                            <td style="width: 220px">
                                                <input type="text" name="product_name" class="form-control" placeholder='Product Name' required="text" id="product_name" list="id_datalist" tabindex="7">
                                                <datalist id="id_datalist">
                                                    {% for entry in products %}
                                                    <option value="{{entry}}">{{ entry }}</option>
                                                   {% endfor %}
                                                        </datalist>
                                            </td>
                                            <td >
                                                <input class="form-control" type="date"  name="expiry_date" id="expiry_date" required value="date"  />
                                            </td>
                                            <td>
                                                <input type="text" name="quantity" class="form-control text-right " value=""  id="quantity_1"/>
                                            </td>
                                            
                                            <td>
                                                <input type="number" name="unit_cost"  class="total_qntt_1 form-control text-right" id="total_qntt_1" placeholder="0.00" min="0" tabindex="9" required/>
                                            </td>
                                            <td style="width: 100px">
                                                <input class="total_price form-control text-right txtCal" type="number" name="total_price" id="total_price_1" value="" placeholder="0.00" readonly="readonly" />
                                            </td>
    
                                            <td>
                                              <button style="text-align: right;" onclick="addRow()" class="btn btn-info" type="button" tabindex="12" id="plus">Add-Row</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4"  style="text-align:right;"><b>Grand Total:</b></td>
                                            <td class="text-right">
                                                 <input type="number" id="total_sum_value" class="form-control text-right txtnet" name="grand_total_price" value="0" readonly="readonly" />
                                                  
                                            </td>
                                            <td></td>
                                        </tr>
                                             <tr>
                                        <td colspan="4"  style="text-align:right;"><b>Previous:</b></td>
                                        <td class="text-right">
                                            <input type="number" id="previous" class="form-control text-right txtnet" name="previous" value="0"  readonly="readonly" />
                                        </td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td colspan="4"  style="text-align:right;"><b>Net Total:</b></td>
                                        <td class="text-right">
                                            <input type="number" id="nettotal" class="form-control text-right" name="nettotal" value="0" readonly="readonly" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                   <td colspan="4" style="text-align:right;" colspan="4"><b>Paid Amount:</b></td>
                                            <td  class="text-right">
                                                <input type="number" id="paidAmount"
                                             class="form-control text-right" name="paid_amount" tabindex="13"/>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="button" class="btn btn-success" id="bt" value="Submit" onclick="send()" />
                                                <!-- <button class="btn btn-lg btn-primary btn-block" id="button1" type="button">Submit</button> -->
                                                <!-- <input type="submit" id="add_invoice" class="btn btn-success" name="add-invoice" value="Submit" tabindex="15"/> -->
                                            </td>
                                            <td style="text-align:right;" colspan="3"><b>Balance:</b></td>
                                            <td class="text-right">
                                                <input type="number" id="balance" class="form-control text-right" name="balance" value="0" readonly="readonly"/>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr id="change_m"><td style="text-align:right;" colspan="4" id="ch_l"><b>Total Outstanding Debt:</b></td>
                                            <td class="text-right">
                                                <input type="number" id="dueAmmount" class="form-control text-right" name="due_amount" value="0" readonly="readonly"/>
                                            </td>
                                            <td></td></tr>
                                        <tr id="change_m"><td style="text-align:right;" colspan="4" id="ch_l"><b>Debt Payment:</b></td>
                                            <td class="text-right">
                                                <input type="text" id="OpenBalance" class="form-control text-right" name="OpenBalance" value="0" readonly="readonly"/>
                                            </td></tr>
                                    </tfoot>
                                </table>
                              
                            </div>
                            
                        </div>

                    </form>                

                </div>
            </div>
                 <div id="invoice_csv_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
 
    
    </div>
      </div>
      {% endblock %}

      {% block script %}
<script>
     
</script>

      {% endblock %}