{% extends "main.html" %}
{% block content %}
<div class="container">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
            {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b></b> {{ message }}</span>
            </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div>
 
    <div class="row">
        
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">(VITALS) PATIENTS WAITING LIST</h3>
                   

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Clinic No</th>
                                    <th>Visit Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                              
                                {% for patient in  patient_with_no_conslt%}
                                <tr>
                                  
                                    <td>{{patient.customer_name}}</td>
                                    <td>{{patient.patient_id}}</td>
                                    <td>{{patient.visit_type}}</td>
                                    
                                    <td>
                                        <a  href="{{url_for('PatientVital',patient_id =patient.id) }}" ><span class="badge badge-success" style="color: black;">CAPTURE VITALS</span></a>
                                    </td>
                                </tr> 
                                {% endfor %}                     
                            </tbody>
                            
                        </table>
                       

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end data table  -->
        <!-- ============================================================== -->
    </div>
  </div>
      {% endblock %}